body {
    font-family: Arial, sans-serif;
    background-color: #040708;
    margin: 0;
    padding: 0;
    color: #f5f3f5;
}

.poll-table {
    width: 60%;
    margin: 50px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #303030;
    border-color: #424242;
}

.header {
    background-color: #a52a2a;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    border-color: #424242;
}

.poll-table th, .poll-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-color: #424242;
}

.rank {
    width: 10%;
    font-weight: bold;
}

.image {
    width: 9%;
    padding: 0;
}

.image-container {
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    width: 40%;
    color: #a52a2a;
    font-weight: bold;
    text-align: left;
}

.votes {
    width: 10%;
    font-weight: bold;
    text-align: right;
}


@media (width <= 1000px) {
  .poll-table {
    width: 100%;
    margin: 0;
    }
    .image {
        width: 22%;
    }
}
